# Lab | Data Aggregation and Filtering

Objective: Use Python programming techniques to filter and order data subsets, group data by one or more variables, and use aggregation functions to obtain insights, and derive meaningful conclusions from the data.

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by using the functions you developed in previous labs, or by reading the clean dataset you saved in the last lab `data structuring and combining`.

Then, answer the following questions:

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the median customer lifetime value by education level and gender.

5. Find the maximum, minimum, and average number of open complaints by state and policy type.

6. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:* 
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [1]:
import pandas as pd
marketing_customer_analysis = pd.read_csv('../lab-dw-data-structuring-and-combining/clean_marketing_customer_analysis.csv')
marketing_customer_analysis

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,months
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,Washington,6857.519928,Yes,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [2]:
marketing_customer_analysis = marketing_customer_analysis.drop(['unnamed:_0'],axis=1)
marketing_customer_analysis

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,months
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,Washington,6857.519928,Yes,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [3]:
# Checking for duplicates in the customer column
marketing_customer_analysis['customer'].duplicated().value_counts()

False    9134
True     1776
Name: customer, dtype: int64

In [4]:
# Removing duplicates in the customer column
marketing_customer_analysis.drop_duplicates(subset=['customer'],inplace=True,ignore_index=True)
marketing_customer_analysis['customer'].duplicated().value_counts()

False    9134
Name: customer, dtype: int64

In [5]:
# 1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response 
# of "Yes" to the last marketing campaign.
marketing_customer_analysis[(marketing_customer_analysis['total_claim_amount']>1000)&(marketing_customer_analysis['response']=='Yes')]

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,months
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1
418,GW43195,Oregon,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,71210,...,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A,2
440,IP94270,Arizona,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,16181,...,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A,2
584,FJ28407,California,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,...,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A,1
648,VV47792,California,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,71210,...,2,Personal Auto,Personal L3,Offer1,Branch,1027.200000,Luxury Car,Small,A,2
674,QL45827,Washington,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,71210,...,2,Personal Auto,Personal L1,Offer1,Branch,1027.200000,Luxury Car,Small,A,2
804,MA15172,California,10179.717040,Yes,Premium,Bachelor,2011-01-05,Retired,F,14290,...,1,Personal Auto,Personal L2,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A,1
1246,WA45944,Arizona,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,71210,...,2,Corporate Auto,Corporate L3,Offer1,Branch,1027.200000,Luxury Car,Small,A,2
1384,YK65946,Oregon,8427.172486,Yes,Extended,Bachelor,2011-02-10,Employed,F,46503,...,1,Personal Auto,Personal L3,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A,2
1484,TU53781,Oregon,8427.172486,Yes,Extended,Bachelor,2011-02-10,Employed,F,46503,...,1,Corporate Auto,Corporate L3,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A,2
1525,VL84149,Oregon,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,71210,...,2,Corporate Auto,Corporate L2,Offer1,Branch,1027.200000,Luxury Car,Small,A,2
1582,UH35128,Oregon,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,71210,...,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A,2
1591,ZV80216,Oregon,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,...,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A,1
1695,FG29932,California,7840.165778,Yes,Extended,College,2011-01-14,Employed,M,58414,...,1,Special Auto,Special L2,Offer2,Agent,1008.000000,Luxury SUV,Small,A,1
1747,QO62792,Oregon,7840.165778,Yes,Extended,College,2011-01-14,Employed,M,58414,...,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A,1
1792,ZA45956,California,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,16181,...,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A,2
1959,TA66375,Oregon,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,1,Corporate Auto,Corporate L2,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1
2049,JC11405,Oregon,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,M,55687,...,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A,2
2240,YE24562,California,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,20978,...,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,A,1
2260,TC88986,Oregon,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,...,1,Special Auto,Special L1,Offer2,Web,1027.000029,SUV,Medsize,A,1
2711,FH77504,California,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1
3141,UY18770,California,10179.717040,Yes,Premium,Bachelor,2011-01-05,Retired,F,14290,...,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A,1
3655,ZW93288,California,19160.989940,Yes,Extended,Master,2011-02-20,Employed,F,22705,...,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A,2
3677,KC26486,Arizona,8427.172486,Yes,Extended,Bachelor,2011-02-10,Employed,F,46503,...,1,Personal Auto,Personal L2,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A,2
3962,GA72966,Oregon,8427.172486,Yes,Extended,Bachelor,2011-02-10,Employed,F,46503,...,1,Personal Auto,Personal L3,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A,2
4025,CG15505,California,19160.989940,Yes,Extended,Master,2011-02-20,Employed,F,22705,...,7,Personal Auto,Personal L3,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A,2
4098,QW47320,California,10179.717040,Yes,Premium,Bachelor,2011-01-05,Retired,F,14290,...,1,Personal Auto,Personal L1,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A,1
4128,WP58340,Arizona,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,M,55687,...,1,Personal Auto,Personal L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A,2
4167,LT72149,Nevada,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,...,1,Personal Auto,Personal L2,Offer2,Web,1027.000029,SUV,Medsize,A,1
4204,TC99043,California,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,16181,...,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A,2
4846,UT48216,Nevada,7840.165778,Yes,Extended,College,2011-01-14,Employed,M,58414,...,1,Personal Auto,Personal L1,Offer2,Agent,1008.000000,Luxury SUV,Small,A,1
4969,TQ84956,California,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,M,55687,...,1,Corporate Auto,Corporate L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A,2
5046,FN44127,Oregon,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,20978,...,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Two-Door Car,Medsize,A,1
5312,TY31217,Washington,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1
5389,MO21402,Oregon,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,16181,...,8,Personal Auto,Personal L3,Offer1,Web,1261.319869,SUV,Medsize,A,2
5669,NZ60700,Washington,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,M,55687,...,1,Personal Auto,Personal L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A,2
5871,RO89785,Oregon,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,20978,...,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,A,1
6384,PN98247,California,7840.165778,Yes,Extended,College,2011-01-14,Employed,M,58414,...,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A,1
6453,JL21509,California,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,20978,...,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,A,1
6563,ZR79373,Arizona,10179.717040,Yes,Premium,Bachelor,2011-01-05,Retired,F,14290,...,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A,1
6957,UU42868,California,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,...,1,Corporate Auto,Corporate L2,Offer2,Web,1027.000029,SUV,Medsize,A,1
7258,AJ89108,California,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1
7296,MT27589,Oregon,7840.165778,Yes,Extended,College,2011-01-14,Employed,M,58414,...,1,Corporate Auto,Corporate L1,Offer2,Agent,1008.000000,Luxury SUV,Small,A,1
7299,UP29839,Nevada,19160.989940,Yes,Extended,Master,2011-02-20,Employed,F,22705,...,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A,2
7359,DT77901,Oregon,10179.717040,Yes,Premium,Bachelor,2011-01-05,Retired,F,14290,...,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A,1
7363,QE79527,California,8427.172486,Yes,Extended,Bachelor,2011-02-10,Employed,F,46503,...,1,Personal Auto,Personal L1,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A,2
7487,YU86361,Washington,19160.989940,Yes,Extended,Master,2011-02-20,Employed,F,22705,...,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A,2
7590,MC30750,Oregon,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,16181,...,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A,2
7615,XT93203,California,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,M,55687,...,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A,2
7977,MS18916,California,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,20978,...,1,Personal Auto,Personal L1,Offer2,Branch,1176.278800,Four-Door Car,Small,A,1
8104,IV54766,Oregon,19160.989940,Yes,Extended,Master,2011-02-20,Employed,F,22705,...,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A,2
8166,GD55093,California,19160.989940,Yes,Extended,Master,2011-02-20,Employed,F,22705,...,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A,2
8754,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,M,55687,...,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A,2
8838,IX60941,Oregon,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,20978,...,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,A,1
8993,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,...,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A,1

In [6]:
# 2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last 
# marketing campaign.
marketing_customer_analysis[(marketing_customer_analysis['response']=='Yes')].groupby(['policy_type','gender']).agg({'total_claim_amount':'mean'})

                       total_claim_amount
policy_type    gender
Corporate Auto F               431.835494
               M               409.512313
Personal Auto  F               452.641922
               M               455.060737
Special Auto   F               460.360832
               M               414.799291

In [7]:
# 3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states 
# where there are more than 500 customers.
customers_per_state=marketing_customer_analysis.groupby(['state']).agg({'customer':'count'})
display(customers_per_state)
customers_per_state[(customers_per_state['customer']>500)]

            customer
state
Arizona         1688
California      3200
Nevada           870
Oregon          2600
Washington       776

            customer
state
Arizona         1688
California      3200
Nevada           870
Oregon          2600
Washington       776

In [8]:
# 4. Find the median customer lifetime value by education level and gender.
marketing_customer_analysis.groupby(['education','gender']).agg({'customer_lifetime_value':'median'})

                             customer_lifetime_value
education            gender
Bachelor             F                   5678.050167
                     M                   5555.830205
College              F                   5621.789489
                     M                   5989.773931
Doctor               F                   5332.462694
                     M                   5620.587184
High School or Below F                   6044.020038
                     M                   6176.700392
Master               F                   5801.128252
                     M                   5617.956917

In [9]:
# 5. Find the maximum, minimum, and average number of open complaints by state and policy type.
marketing_customer_analysis.groupby(['state','policy_type']).agg({'number_of_open_complaints':['max','min','mean']})

                          number_of_open_complaints
                                                max  min      mean
state      policy_type
Arizona    Corporate Auto                       5.0  0.0  0.370482
           Personal Auto                        5.0  0.0  0.383894
           Special Auto                         3.0  0.0  0.246753
California Corporate Auto                       4.0  0.0  0.295756
           Personal Auto                        5.0  0.0  0.377197
           Special Auto                         5.0  0.0  0.460177
Nevada     Corporate Auto                       5.0  0.0  0.438144
           Personal Auto                        5.0  0.0  0.401244
           Special Auto                         5.0  0.0  0.545455
Oregon     Corporate Auto                       4.0  0.0  0.336466
           Personal Auto                        5.0  0.0  0.368177
           Special Auto                         5.0  0.0  0.325397
Washington Corporate Auto                       5.0  0.0  0.506410
           Personal Auto                        5.0  0.0  0.375635
           Special Auto                         4.0  0.0  0.551724

In [10]:
# 6. The marketing team wants to analyze the number of policies sold by state and month.
marketing_customer_analysis.groupby(['state','months']).agg({'number_of_policies':'sum'})

                   number_of_policies
state      months
Arizona    1                     2702
           2                     2441
California 1                     5081
           2                     4423
Nevada     1                     1333
           2                     1096
Oregon     1                     4127
           2                     3629
Washington 1                     1184
           2                     1077

In [11]:
# 7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest 
# number of policies sold.
policies_month_state=marketing_customer_analysis.groupby(['state','months']).agg({'number_of_policies':'sum'}).reset_index().pivot(columns='months',index='state')
policies_month_state['total'] = policies_month_state[('number_of_policies', 1)] + policies_month_state[  ('number_of_policies', 2)]
policies_month_state.sort_values(by='total', ascending=False).head(3)

           number_of_policies       total
months                      1     2
state
California               5081  4423  9504
Oregon                   4127  3629  7756
Arizona                  2702  2441  5143

In [12]:
# 8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.
total_samples_per_channel = marketing_customer_analysis.groupby(['sales_channel']).agg({'response':'count'})
total_yes_per_channel = marketing_customer_analysis[(marketing_customer_analysis['response']=='Yes')].groupby(['sales_channel']).agg({'response':'count'})
total_yes_per_channel / total_samples_per_channel

               response
sales_channel
Agent          0.184067
Branch         0.111025
Call Center    0.105949
Web            0.113962